body {
    font-family: Arial, Helvetica, sans-serif;
}

header img {
    display: block;
    margin: auto;
}

header h1 {
    color: #f56c2d;
    text-align: center;
}

header div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin-bottom: 100px;
}

header div a{
    padding: 25px;
    color:black;
    font-size:25px;
    text-align: center;
    text-decoration: none;
    transition:.3s;
}

header div a:hover{
    color: #f56c2d;
}

header div #button {
    padding: 24px 0;
    font-size: 16px;
    width: 200px;
    background-color: transparent;
    border: 1px solid #f56c2d;
    color: #f56c2d;
}

header div #button:hover {
    background-color: #f56c2d;
    color: white;
}

.geninfo {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    right: 0;
}

.geninfo div {
    width: 50%;
}

.geninfo div div {
    width: 500px;
    float: right;
}

.geninfo div h1,p {
    color: white;
    padding: 0 64px;
}

.news, .tohelp h1 {
    text-align: center;
}

.news div {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 50px;
    justify-content: center;
}

.news div div {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 50px 450px;
    overflow: hidden;
    width: 500px;
    height: 500px;
    background-color: #f56c2d;
}

.news div div h2, p {
    text-align: left;
    padding: 24px;
    color: white;
}

.help {
    display: grid;
    gap: 100px;
    grid-template-columns: auto auto;
    justify-content: center;
    vertical-align: top;
}

.tohelp {
    width: 428.8px;
}

.tohelp form div {
    display: flex;
    justify-content: center;
}

.tohelp h2 {
    text-align: center;
}

.tohelp img {
    display: block;
    margin: auto;
}

.tohelp form div label img {
    position: absolute;
    filter: contrast(0%);
    transition: .3s;
}

.tohelp form div label {
    display: flex;
    justify-content: center;
}

.tohelp form div label p {
    color: black;
    transition: .3s;
}

.tohelp form div input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
}

.tohelp form div input[type="radio"]:checked + label img {
    filter: initial;
}

.tohelp form div input[type="radio"]:checked + label p {
    color: #f56c2d;
}

.tohelp form input {
    display: block;
    margin: auto;
    width: 400px;
    padding: 12px 0px;
    margin-top: 10px;
}

.tohelp form a {
    text-decoration: none;
}

.tohelp form input[type="text"] {
    border: 0;
    border-bottom: 1px solid black;
}

.tohelp form input[type="button"] {
    background-color: transparent;
    border: 1px solid #f56c2d;
    color: #f56c2d;
    transition: .3s;
}

.tohelp form input[type="button"]:hover {
    background-color: #f56c2d;
    color: white;
}

.tohelp select {
    display: block;
    margin: auto;
    width: 400px;
    padding: 12px 0px;
    margin-top: 10px;
    text-indent: 5px;
    background-color: white;
    border: 1px solid black;
}

.helptext {
    margin: 0;
    padding: 0;
    text-align: center;
    color: black;
    width: 80%;
    display: block;
    margin: auto;
}

footer {
    position: absolute;
    left: 0;
    right: 0;
    padding: 24px;
    background-color: #f56c2d;
    color: white;
}

footer p {
    padding: 0;
}

footer img {
    width: 24px;
}

footer form input {
    width: 400px;
    padding: 12px 0px;
    margin-top: 10px;
}

footer form input[type="text"] {
    border: 0;
    background-color: transparent;
    color: white;
    border-bottom: 1px solid white;
}

footer form input[type="button"] {
    background-color: white;
    color: #f56c2d;
    border: 1px solid white;
    transition: .3s;
}

footer form input[type="button"]:hover {
    background-color: #f56c2d;
    color: white;
}

.helpthem form {
    display: flex;
    justify-content: center;
}

.helpthem form input {
    display: inline-block;
    margin: auto;
}

.helpthem form label {
    z-index: 2;
    margin: 8px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    opacity: .5;
    transition: .3s;
    margin-top: 750px;
    cursor: pointer;
    border: 1px solid white;
    background-color: black;
}

.shadowraze {
    position: absolute;
    visibility: hidden;
    display: grid;
    grid-template-columns: 1000px 500px;
}

.shadowraze #a {
    width: 1000px;
    height: 800px;
}

.shadowraze #b {
    height: 800px;
    width: 500px;
    overflow: hidden;
    background-color: #f56c2d;
}

.requiem {
    padding: 12px;
    color: white;
    opacity: 0;
    transition: .3s;
}

.helpthem form input {
    opacity: 0;
    position: fixed;
    width: 0;
}

.helpthem form input:checked + label {
    opacity: 1;
    background-color: #f56c2d;
    border-color: #f56c2d;
}

.helpthem form input:checked + label + div {
    visibility: visible;
}

.helpthem form input:checked + label + div div {
    visibility: visible;
}

.helpthem form input:checked + label + div div h1 {
    opacity: 1;
}

.helpthem form input:checked + label + div div p {
    opacity: 1;
}

@media screen and (max-width: 1600px) {
    .news div {grid-template-columns: auto auto;} 

    .geninfo div div {float: initial;}
    .geninfo #b, #b img {width: 0;}
    .geninfo #a {width: 100%;}

    .shadowraze {grid-template-columns: 500px 250px;}
    .shadowraze #a {width: 500px; height: 400px;}
    .shadowraze #b {width: 250px; height: 400px;}
    .shadowraze h1 {font-size: 17px;}
    .shadowraze p {font-size: 8px;}

    .helpthem form label {width: 12px; height: 12px; margin: 4px; margin-top: 375px;}
}

@media screen and (max-width: 1100px) {
    .news div {grid-template-columns: auto;} 
    .help {grid-template-columns: auto;}
    header div {display: grid; grid-template-columns: auto;}
}