body {
    font-family: Arial, Helvetica, sans-serif;
}

label {
    color: white;
    border: none;
    background-color: #f56c2d;
    padding: 12px;
    transition: .1s;
}

label:hover {
    background-color: #f5601b;
}

.top {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    padding-bottom: 100px;
    background-image: url(1.jpg);
    background-size: 100% 100%;
}

.topbar {
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.topbar img {
    margin: 10px;
    width: 300px;
}

.topbar a {
    margin-top: 40px;
    text-decoration: none;
    color: white;
    font-size: 24px;
    font-weight: bold;
}

.topdownload {
    display: block;
    margin: auto;
    width: 80%;
}

.topdownload p {
    text-align: center;
    color: white;
    font-size: 36px;
}

.topdownload button {
    display: block;
    margin: auto;
    padding: 24px;
    color: white;
    border-radius: 12px;
    border-color: #f56c2d;
    background-color: #f56c2d;
    font-size: 36px;
    font-weight: bold;
}

.topdownload button:hover {
    background-color: #f5601b;
}

.article {
    display: block;
    margin: auto;
    width: 70%;
    text-align: center;
}

.articleWbg {
    padding: 20px;
    position: absolute;
    left: 0;
    right: 0;
    background-image: url(2.jpg);
    background-size: 100% 100%;
}

.articleWbg h1 {
    display: block;
    margin: auto;
    width: 80%;
    text-align: center;
    color: white;
}

.articleWbg div {
    padding: 20px;
    margin: auto;
    width: 80%;
    display: grid;
    gap: 20px;
    justify-content: center;
    grid-template-columns: auto auto auto;
    grid-template-rows: 10% auto;
}

.articleWbg div div {
    overflow: hidden;
    display: grid;
    justify-content: center;
    grid-template-columns: auto;
    height: 300px   ;
    text-align: left;
    background-color: white;
}

.articleWbg div div h1 {
    overflow: hidden;
    color: black;
}

.bot {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 1;
    background-color: #1e262c;
}

.bot h1 {
    margin-left: 100px;
    color: #f56c2d;
}

.bot p {
    margin-left: 100px;
    color: white;
}

.bot a {
    margin-left: 100px;
    color: white;
    text-decoration: none;
}

.functions form label {
    width: 15%;
}

.functions form, input {
    display: inline-block;
    margin: auto;
}

.functions form {
    display: flex;
    justify-content: center;
}

.functions form label:hover {
    background-color: #f5601b;
}

.functions form input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
}

.functions form input[type="radio"]:checked + label {
    color: black;
    background-color: rgb(226, 226, 226);
}

.functions form input[type="radio"]:checked + label + table {
    opacity: 1;
}

.functions form table {
    background-color: white;
    width: 65%;
    margin-top: 42px;
    transition: .1s;
    opacity: 0;
    position: absolute;
    border: 1px solid  rgb(218, 218, 218);
}

.functions form table tr, td {
    border: 1px solid rgb(218, 218, 218);
    padding: 6px;   
}

.profile td, tr {
    border: 0px;
}

.profile tr td img {
    width: 256px;
    height: 256px;
    border: 1px solid black;
}

.profile tr td button {
    opacity: 0;
    position: fixed;
    width: 0;
}

.profile tr td label {
    display: block;
    margin: auto;
    text-align: center;
    padding: 12px 100px;
}

.ecosystem {
    display: block;
    margin: auto;
    text-align: center;
}

.ecosystem #main {
    display: block;
    margin: auto;
    width: 100px;
    background-color: #f56c2d;
    padding: 24px;
    color: white;
    border-radius: 12px
}

.ecorow {
    column-gap: 100px;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: auto 50px auto 50px auto;
}

.ecorow div {
    display: grid;
    justify-content: center;
    grid-template-columns: auto;
}

.ecocolumn {
    display: grid;
    justify-content: center;
    grid-template-columns: 100px 50px 50px 100px;
}

picture img {
    display: block;
    margin: auto;
}